<img src="/images/logs2.png" class="fg_left">

<div class="logs_container">
  <% unless @happiness_logs.blank? %>
    <%= render partial: 'happiness_logs/happiness_log', collection: @happiness_logs %>
    <%= paginate @happiness_logs %>
  <% end %>
</div>

<%= link_to image_tag('world.png'), world_index_path, class: 'world'%>

<img src="/images/cloud1.png" data-stellar-ratio="1.7" class="user_cloud">
<p class="user_text" data-stellar-ratio="1.7">See Users<br><span>& Logs</span></p>
<img src="/images/arrow.png" class="arrow" data-stellar-ratio="1.7">