<div class="upper_fg">
  <img src="/images/happy_foreground1.png" data-stellar-ratio="1.3" class = "fg_right">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="1.1" class = "fg_left">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="1.2" class = "cloud_left fg_left">
  <img src="/images/happy_foreground3.png" data-stellar-ratio="2" class = "fg_left">
  <img src="/images/happy_foreground4.png" data-stellar-ratio="1.2" class = "mountain3 fg_right">
  <img src="/images/happy_foreground5.png" data-stellar-ratio="1.8" class = "mountain3 fg_right">
  <img src="/images/happy_foreground6.png" data-stellar-ratio="2" class = "mountain1 fg_left">
  <img src="/images/happy_foreground7.png" data-stellar-ratio="1.2" class = "mountain2 fg_center"> 
  <img src="/images/happy_foreground8.png" data-stellar-ratio="1.1" class = "fg_left"> 
  <img src="/images/happy_foreground9.png" data-stellar-ratio=".9" class = "fg_left">
  <img src="/images/happy_foreground10.png" data-stellar-ratio="1.3" class = "fg_right"> 
  <img src="/images/happy_foreground11.png" data-stellar-ratio="1" class = "fg_right">
  <img src="/images/happy_foreground12.png" data-stellar-ratio="1.3" class = "fg_right">
</div>

<div class="lower_fg">
  <img src="/images/happy_foreground1.png" data-stellar-ratio="1.3" class = "lower_fg_right">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="3" class = "lower_fg_left">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="1.4" class = "lower_fg_left">
  <img src="/images/happy_foreground3.png" data-stellar-ratio="2" class = "lower_fg_left">
  <img src="/images/happy_foreground8.png" data-stellar-ratio="1.1" class = "lower_fg_left"> 
  <img src="/images/happy_foreground9.png" data-stellar-ratio=".9" class = "lower_fg_left">
  <img src="/images/happy_foreground10.png" data-stellar-ratio="1.8" class = "lower_fg_right"> 
  <img src="/images/happy_foreground11.png" data-stellar-ratio=".7" class = "lower_fg_right">
  <img src="/images/happy_foreground3.png" data-stellar-ratio="1.8" class = "lower_fg_right">
  <img src="/images/happy_foreground10.png" data-stellar-ratio=".6" class = "lower_fg_right"> 
  <img src="/images/happy_foreground11.png" data-stellar-ratio=".5" class = "lower_fg_right">
  <img src="/images/happy_foreground3.png" data-stellar-ratio=".8" class = "lower_fg_right">
</div>
