<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<h1>Edit Happiness Log</h1>

<%= render 'form' %>

<%= link_to 'Show', @happiness_log %> |
<%= link_to 'Back', happiness_logs_path %>
