<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<img src="/images/cloud1.png" class="cloud_title">
<h1 align="center" class="show_cloud_title_text">Edit Log</h1>

<%= render 'happiness_logs/edit_form' %>
