<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<div class="">
  <h1>Happy Entries</h1>
      <%= render partial: 'happiness_log', collection: @happiness_logs %>
</div>
<%= paginate @happiness_logs %>
