<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<img src="/images/cloud1.png" class="cloud_title">
<h1 align="center" class="cloud_title_text">Happiness Log</h1>
<br><br>

<%= render 'form' %>

