<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<img src="/images/cloud1.png" class="cloud_title">
<h1 align="center" class="show_cloud_title_text">Search Results</h1>

<br>

<%= render 'happiness_logs/search_log' %>

<script type="text/javascript">
  var speed = 1550;

  $('div, img, a, span, form').hide();
  $(function() {
      $('div, img, a, span, form').fadeIn(speed, function() {
          $('a[href], button[href]').click(function(event) {
              var url = $(this).attr('href');
              if (url.indexOf('#') == 0 || url.indexOf('javascript:') == 0) return;
              event.preventDefault();
              $('html, body').fadeTo(speed, 0.85, function() {
                  window.location = url;
              });
          });
      });
  });
</script>
