.scroll_container {
    width: 80%;
    height: 75%;
    min-width: 80%;
    min-height: 75%;
    background: white;
    overflow: scroll;
    border:5px solid gray;
    border-radius: 5px 20px 5px;
    background: #EBF5F7;
    position: fixed;
    top: 25%;
    left: 20%;
    margin-top: -30px;
    margin-left: -100px;
    text-align: center;
    padding: 20px;
}

.scroll_container2 {
    width: 80%;
    height: 75%;
    min-width: 80%;
    min-height: 75%;
    background: white;
    overflow: scroll;
    border:5px solid gray;
    border-radius: 5px 20px 5px;
    background: #EBF5F7;
    position: absolute;
    top: 430%;
    left: 20%;
    margin-top: -30px;
    margin-left: -100px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
}

.left_scroll {
    width: 60%;
    height: 75%;
    min-width: 60%;
    min-height: 75%;
    background: white;
    overflow: scroll;
    border:5px solid gray;
    border-radius: 5px 20px 5px;
    background: #EBF5F7;
    position: fixed;
    top: 20%;
    left: 20%;
    margin-top: 0px;
    margin-left: -200px; 
    padding: 20px;  
}

.right_scroll {
    width: 42%;
    height: 65%;
    min-width: 40%;
    min-height: 75%;
    background: white;
    overflow: scroll;
    border:5px solid gray;
    border-radius: 5px 20px 5px;
    background: #EBF5F7;
    position: fixed;
    top: 7%;
    left: 54%;
    text-align: center;
    padding: 20px;  
}

.fb_logo{
    top: 50%;
    position: fixed;
    left: 5%;
    font-style: italic;
    font-family: "Courier New";
    font-size: 13px;
    text-align: center;
}

.twitter_logo{
    top: 10%;
    position: fixed;
    left: 5%;
    font-style: italic;
    font-family: "Courier New";
    font-size: 13px;
    text-align: center;
}

.text {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
