.logo_cloud {
    position: fixed;
    left: 40px;
    top: 35px;
    width: 250px;
    z-index: 1;
}

.whole_logo {
  position: fixed;
  top: 65px;
  left: 100px;
  z-index: 2;
}

.logo {
  position: fixed;
  height: 30px;
  width: 30px;
  left: 65px;
  top: 93px;
  z-index: 10;
}

.login_logout {
    left: 14.5%;
    top: 15px;
    position: absolute;
}

.cloud_login{
    left: 13%;
    position: absolute;
    height: 70px;
    top: -8px;
}

.login_logout_right {
    left: 223px;
    top: 47px;
    position: absolute;
    z-index: 10;
}

.cloud_login_right {
    left: 200px;
    position: absolute;
    height: 80px;
    top: 14px;
}

.logs {
    left: 690px;
    top: 60px;
    font-size: 27px;
    position: absolute;
    z-index: 10;
}

.cloud_search {
    position: absolute;
    top: -3%;
    left: 67%;
    width: 400px;
    height: 110px;    
}

.search_bar {
    position: absolute;
    top: 2%;
    left: 70%;
    width: 1300px;
    height: 100px;
}

.cloud_search2 {
    position: absolute;
    top: 10px;
    left: 880px;
    width: 300px;
    height: 110px;    
}

.search_bar2 {
    position: absolute;
    top: 50px;
    left: 910px;
    width: 1000px;
    height: 100px;
}

.cloud_title {
    position: absolute;
    top: -20px;
    left: 445px;
    z-index: -1;  
    min-height: 20%;
    min-width: 25%;
    width: 29%;
    height: 20%; 
    top: 1%;
    left: 45%;
    margin-top: -30px;
    margin-left: -100px;
}

.cloud_title_text {
    font-style: italic;
    font-family: "Courier New";
    font-size: 28px;
    min-height: 5%;
    min-width: 5%;
    width: 15%;
    height: 15%;  
    position: absolute;
    left: 510px;
    top: 5%;
    left: 50%;
    margin-top: -30px;
    margin-left: -100px;
}

.show_cloud_title_text {
    font-style: italic;
    font-family: "Courier New";
    font-size: 28px;
    min-height: 5%;
    min-width: 5%;
    width: 15%;
    height: 15%;  
    position: absolute;
    left: 510px;
    top: 7%;
    left: 52%;
    margin-top: -30px;
    margin-left: -100px;
}
